<h1>Listing articles</h1>

<table class="table">
	<tr>
		<th><h2>Title</h2></th>
		<th><h2>Text</h2></th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= link_to article.title, article_path(article) %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<br><br>
<%= link_to 'New Article', new_article_path %>