<p>
	<h1><%= @article.title %></h1>
</p>

<p>
	<%= @article.text %>
</p>

<%= link_to edit_article_path(@article), :class => 'btn btn-primary' do %>
  	<span class="icon-edit icon-white"></span> Edit
<% end %>

<%= link_to raw('<i class="icon-trash icon-white"></i>'), article_path(@article), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>


<br><br>

<% if !@article.comments.nil? %>
	<h3>Comments</h3>
	<% @article.comments.each do |comment| %>
		<%= render partial: 'article_comments', locals: {comment: comment} %>
	<% end %>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>